body{
    margin: 0px;
    padding: 0px;
 box-sizing: border-box;
}
.head{
height: 70px;
width: 100vw;
background-color: rgba(64, 100, 28, 0.596);
border-radius: 0px 0px 10px 10px;
box-shadow: 5px 5px 10px gray;
}