body {
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(211, 231, 224);
    
}

.head {
    height: 70px;
    width: 1266px;
    background-color: #00332e;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 5px 5px 10px rgb(22, 55, 30);
    position: fixed;
    top: 0px;
    z-index: 4;
}

.list>li {
    text-decoration: none;
    display: inline-block;
    margin: auto;
    margin-left: 25px;
    margin-top: 2px;
    font-size: 19px;

}

.navebar {
    padding-left: 59%;
}

.list a {
    text-decoration: none;
    color: rgb(251, 250, 249);
}

.logo {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 30px;
}

.list li:hover {
    /* text-decoration: underline; */
    transform: scale(1.1, 1.1);
    transition: 2s ease;
    border-top: 2px solid rgb(206, 215, 206);
    border-bottom: 2px solid rgb(243, 249, 243);
}

/* nav end */
/* hero section start */
.hero {
    height: 500px;
    width: 1266px;
    background-color: rgba(15, 64, 64, 0.358);
    padding-top: 30%;
    background-image: url(imagges/bgimage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: scroll; */
    position: relative;

}

.container {
    position: absolute;
    top: -10px;
    /* bottom: 4%; */
    height: 880px;
    width: 100%;
padding-top: 0px;
    background-color: rgba(34, 44, 44, 0.226);

}

.text {
    margin: auto;
    /* border: 3px solid white; */
    /* margin-top: 15%; */
    /* padding-top: 10%; */
    position: relative;
    top: 32%;
    width: 37%;
    background-color: rgba(240, 248, 255, 0.342);
    border-radius: 20px;
    padding: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;


}

.marivo {
    color: aliceblue;
    font-size: 40px;
    text-align: center;

    /* border-bottom: 3px dashed white; */
    /* border-width: 10px; */
}

.m {
    color: rgb(2, 38, 26);
    font-size: 65px;

    cursor: pointer;
}

div.m:hover {
    color: rgb(2, 38, 26);
    font-size: 65px;
    transform: scale(1, 1);
    transition: 3s;
}

marquee {
    color: aliceblue;
    font-size: 30px;
}

/*  next section start  */

.main {
    margin-top: -5.5%;
    /* margin-bottom: 40px; */
    height: 100vh;
    width: 1266px;
    /* margin: auto; */
    /* padding-bottom: -400px; */
    justify-items: center;
    /* margin-top: 10%; */
    
    background-color: rgba(26, 132, 97, 0.183);

}

.intro {
    color: rgb(1, 37, 25);
    cursor: pointer;
    margin-top: 70px;
    padding-top: 7%;
    padding-bottom: 10px;
}

.intro:hover {
    color: rgb(1, 37, 25);
    cursor: pointer;
    text-decoration: underline;
    transition: all 2.5s ease-out;
}

.selfintro {
    padding: 30px;
    width: 60%;
    font-style: oblique;
    overflow: scroll;
    height: 40%;
    background-color: rgba(123, 214, 164, 0.194);

}

/* card section */
.boxes {
    height: 480px;
    width: 1083px;
    background-image: url(imagges/glt-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: 14%
}


.g {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
   color:  rgb(1, 37, 25) ;
}

.g:hover {
    text-decoration: underline;
}

.box {
    height: 400px;
    width: 300px;
    border: 4px groove rgb(1, 57, 12);
    border-radius: 10px;
    display: inline-block;
    align-items: center;
    margin-top: 30px;
    background-color: rgba(219, 170, 105, 0.281);
}

.box:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.btn-lern {
    /* margin-top: 30px; */
    height: 30px;
    width: 200px;
    border: none;
    background: transparent;
    margin: 35px 45px;
    font-size: 20px;
}

.btn-lern:hover {
    background-color: rgb(4, 64, 44);
    color: aliceblue;
    border-radius: 30px;
}

.service {
    color: rgb(1, 37, 25);
    cursor: pointer;
    margin: 50px 30%;
    padding-top: 50px;
    text-transform: uppercase;
    
}

.service:hover {
    text-decoration: underline;
}

.ser-tex {
     width: 50%;
    font-style: oblique;
    /* overflow: scroll; */
    height: 40%;
    
    margin-left: 10%;
    padding: 20px;
}
/* si{de bar */
.ser-cont{
   width: 1266px;
    position: relative;
    /* border: 3px solid yellow; */
    background-color: rgba(123, 214, 164, 0.194);
}
.side{
    position: absolute;
    top: 24%;
    
    right: 50px;
    height: 400px;
    width: 25%;
    border: 8px inset rgb(219, 219, 175);
    background-color: rgb(6, 40, 27);
    color: aliceblue;
    
}
ul li{
    margin-left: 30px;
    padding-top: 10px;
    font-size: 20px;
    
}
.s{
    margin-left: 30px;
    font-size: 27px;
    text-transform: uppercase; 
}
.seemore{
    height: 50px;
    width: 200px;
    margin: 40px 40px;
    padding-bottom: 13px;
    font-size: medium;
    border-radius: 30px;
    cursor: pointer;
    

}
.svg{
    margin-left: 30px;
    position: relative;
    top: 30%;
    display: inline-block;
}
.seemore:hover{
    transform: scale(1.1,1.1);
    transition: 1s ease-in-out;
    background-color: rgb(176, 205, 195);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
/* contact section */
.contact{
    height: 100vh;
    width: 1266px;
    background-color: antiquewhite;
    align-items: center;

}
.pic{
    margin: 70px 50px;
    width: 450px;
    height:350px ;
    /* border: 2px solid black; */
    border: none;
    display: inline-block;
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
}
.side-pic-form{
    border: none;
     border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.side-pic-form:hover{
    border-radius: 20px;
    transform: scale(1.1,1.1);
    transition: all 2s ease-in-out;
}
.form{
    display: inline-block;
    width: 500px;
    height:400px ;
    /* border: 2px solid black; */
    margin-left: 30px;
    /* margin-top: 30px; */
    position: relative;
    /* bottom: 30%; */
    
}
.lable{
    margin-top: 40px;
    font-size: 20px;
    text-decoration: underline;
   
}
.input{
 width: 280px;
 height: 30px;
 border-radius: 10px;
 /* outline: none; */
 /* border: none; */
 background-color: transparent;
 /* border-bottom: 3px solid green; */
 
}
.input:focus{
    background-color: rgba(51, 132, 105, 0.235);
}
.f{
    margin: 50px 80px;
}
#name{
    background-image: url(icons/person-svgrepo-com.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 40px;
}
#email{
    background-image: url(icons/email-svgrepo-com.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 40px;
}

.textera{
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid black;
}
.textera:focus{
    background-color: rgba(51, 132, 105, 0.235);
}
.sub{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    padding-top: 6px;
    border-radius: 15px;
    margin-top: 4px;
    height: 40px;
}
.sm{
    position: relative;
    bottom: 30px;
    float: right;
    margin-right: 30%;
    
    
}


/* footer */
.footer{
     height: 60px;
    width: 1266px;
    background-color: #00332e;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 5px 5px 10px rgb(22, 55, 30);
    color: aliceblue;
}
.top{
    margin-top: 1px;
    height: 30px;
    width: 120px;
    padding-bottom: 2.4%;

}
.top:hover{
    background-color: rgba(191, 249, 228, 0.719);
}
.top-arow{
    position: relative;
    top: 5px;
    /* padding-bottom: 8px; */
}
button>a{
    text-decoration: none;
    color: rgb(4, 50, 35);
}