/* universal selector */
*{
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;

}
/* element selector */
h1{
    background-color: rgb(13, 100, 158);
    color: aqua;
}
/* Adjacent Sibling Selector */
h1+p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(123, 80, 23);
    color: aliceblue;
    font-size: 20px;
}
/* general sibling selector */
h3~p{
    background-color: darkolivegreen;
    color: antiquewhite;
}

/* clas and specific class selecrot */
.container{
    border: 1px solid #000;
    background-color: blanchedalmond;
}
h5.para{
    background-color: rgba(139, 0, 139, 0.355);
    color: rgb(8, 229, 155);
    font-size: 20px;
}
p.para{
    background-color: rgba(139, 0, 139, 0.355);
    color: rgb(8, 229, 155);
    font-size: 20px;
}
/* id selector */
#learn{
    background-color: darkgrey;
    color: darkslategray;
}
/* child selector */
div>h6{
    background-color:rgb(223, 27, 27);
}
.id-cont{
    border: 1px solid #960e0e;
    background-color: cadetblue;
    color: rgba(0, 0, 255, 0.932);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* inherit example */
h2{
    color: inherit;
    font-family: inherit;
    background-color: inherit;
    border: inherit;
}




