@font-face {
    font-family: light;
    src: url(static/Montserrat-ExtraLight.ttf);
}
html{
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    overflow-x: hidden;
}

* {
    color: aliceblue;
}
/* *,
*::before,
*::after {
  outline: 1px solid red;
} */


header {
    height: 60px;
    width: 100vw;
    background-color: black;
    position: relative;
    padding-bottom: 27px;
    position: fixed;
    z-index: 1;

}



ul .nv {
    display: inline-block;

}

.n {

    position: absolute;
    bottom: 18px;
    right: 49%;
}

.a {
    position: absolute;
    bottom: 18px;
    right: 42%;
}

.v {
    position: absolute;
    bottom: 18px;
    right: 30%;
}

.all {
    text-decoration: none;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 10px;

}

.all:hover {
    /* text-decoration: underline;
    transform: scale(1.2, 1.2);
    transition: all 3s ease; */
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    color: red;
}

.all:active {
    color: rgb(231, 8, 8);
}

.bor-red {
    height: 43px;
    width: 130px;
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid white;
    position: absolute;
    right: 20px;
    bottom: 16px;
    font-weight: 600;
    cursor: pointer;
    font-size: 15px;
}

.order:hover {
    background: transparent;
    border: 2px solid red;
    transform: translateX(7px);
    transition: all 1.7s ease-in-out;
}

.french {
    position: absolute;
    right: 14%;
}

.french:hover {
    border: 2px solid red;
}

.order {
    background-color: rgb(245, 20, 20);
    border: none;
    padding-bottom: 6px;


}

.arrow {
    position: relative;
    top: 6px;
    left: 5px;
}

.logo {
    margin-left: 40px;
    margin-top: 20px;
}

/* header end */
.heer {
    width: 100%;
    vertical-align: middle;
    margin-top: 5%;
}

.brand {
    width: 100%;
    height: 100%;
    /* margin:20px  auto;
    text-align: center; */
    display: block;
    position: relative;
    overflow: hidden;
}

.contaner {
    width: 100%;
    padding: 10px 20px 10px 20px;
}

.heading {
    width: 700px;
    margin: 30px auto;
    font-size: 2.2em;
    font-family: light;
    text-align: center;
}

.font {
    font-family: stencil;
    font-size: 1.3em;
}

.para {
    width: 700px;
    margin: 30px auto;
    text-align: center;
    color: rgba(240, 248, 255, 0.621);

}

.list {
    width: 100%;
    text-align: center;
}

.card {
    height: 130px;
    width: 200px;
    background-color: aliceblue;
    display: inline-block;
    margin: 40px 20px 0px 20px;
}

.card:hover {
    transform: scale(1.1, 1.1);
    transition: .5s ease-in-out;
}
.img-crd:hover{
    transform: scale(1.1, 1.1);
    transition: .5s ease-in-out;
}

.card-logo {
    padding-top: 20px;
    height: 100px;
    width: 180px;
    cursor: pointer;
}

.card-cont {
    height: 330px;
    width: 200px;
    /* border: 2px solid red; */
    display: inline-block;
    margin: 0 20px;

}

.cont {
    height: 43px;
    width: 130px;
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid rgb(241, 235, 235);
    /* position: absolute;
    right: 20px;
    bottom: 16px; */
    font-weight: 600;
    cursor: pointer;
    font-size: 15px;
    position: relative;
    left: 20px;
    top: 40px;
}

.cont:hover {
    background-color: aliceblue;
    color: red;
}

/* franchice section */

.franchice , .card-main {
    /* width: 100%;
    height: 100%; */
    /* margin:20px  auto;
    text-align: center; */
    display: block;
    position: relative;
    background:rgba(255, 255, 255, 0.06); ;
    overflow: visible;
}
.franch-cont{
    background-image: url(images/bgimage.webp);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment:scroll;
}
.fr{
    font-size: 1.25em;
}

.row1 {
    font-size: 0; /* removes white space between inline-blocks */
}

.col1, .col2 , .col1-1 , .col2-1 {
    display: inline-block;
    height: 300px;
    width: 40%;
    vertical-align: top;
    font-size: 16px; /* reset the font size */
}

.col1 {
    /* background: rgb(13, 178, 7); */
    margin-left: 50px;
    padding-top: 20px;
}
.col1-1 {

    /* background: rgb(76, 194, 234); */
    margin-left: 50px;
    padding-top: 20px;
}

.col2 {
    /* background: rgb(245, 170, 7); */
    margin-left: 50px;
}
.col2-1 {
    /* background: rgb(233, 245, 7); */
    margin-left: 50px;
    padding-top: 20px;
}
.small{
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(244, 75, 75);
    letter-spacing: 6px;
    /* line-height: 20px; */
    display: inline-block;
    padding: 20px 0px;
    
}
.small-oppi{
font-size: 10px;
}
.small-1{
  text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(244, 75, 75);
    letter-spacing: 6px;
    padding: 20px 0px;
    /* line-height: 20px; */
    display: inline-block;
    
}
.left-cor{
    text-align: left;
    font-size: 1.79em;
    margin-top: -1px;
}
.lft-tx{
    font-size: 1em;

}
.loct , .add{
    margin-top: -8px;
}
.loct{
    /* opacity: .5; */
    color: rgba(245, 248, 251, 0.637);
}
.add{
    /* opacity: .5; */
    color: rgba(245, 248, 251, 0.637);
}
.phn , .ph{
    color: rgba(245, 248, 251, 0.637);
    margin-top: -10px;
}
.gd{
    height: 43px;
    width: 150px;
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    font-size: 13px;
    margin-top: 30px;
 padding-bottom: 10px;
}

.gd:hover{
      background: rgba(243, 55, 55, 0.941);
      /* color: red; */
    /* border: 2px solid #fffafa; */
    border: none;
    transform: translateX(7px);
    transition: all .9s ease-in-out;
}
/* card section start */
.card-wrapper {
 text-align: center;
  max-width: 1200px;
  margin: auto;
}

.crd  {
   display: inline-block;
  width: 320px; /* slightly less to allow margin */
  margin: 1%;
  height: 450px;
  background:transparent;
  /* border: 1px solid #999; */
  vertical-align: top; 
  text-align: center;
  align-items: center;
  border-radius: 12px;
}
.img-crd{
     border-top-left-radius: 12px;
     border-top-right-radius: 12px;
     cursor: pointer;
}
.small-aery{
    font-size: 1.20em;
    margin-left: 50px;
    
}
.last-right{
    width: 470px;
}
.last-btn{
    background-color: rgb(13, 172, 119);
    border: none;
}
.last-btn:hover{
background: transparent;
border: 1px solid rgb(13, 172, 119);
}
/* coming son branches card */
.snp-b{
    height:400px;
    max-width:100% ;
    /* background-color: rgb(17, 18, 18); */
}
.cnter{
    text-align: center;
    font-size: 38px;
    color: aliceblue;
    font-family: light;
}
.futuerplan{
   height: 150vh;
}
.brecket{
    font-size: 19px;
}
.cards-soon {
  text-align: center;
  color: black;
}

.soon-b{
  display: inline-block;
  width: 28%;
  margin: 1%;
  height: 200px;
  background-color: #ffffff;
  border: 1px solid #999;
  vertical-align: top;
  text-align: center;
  transition: all 0.3s ease; /* 👈 Yeh transition lagayi */
}

.card:hover {
  background-color: #f7f2f2fd;
  transform: scale(1.05); 
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.pin-point{
    height: 55px;
    width: 55px;
    margin-top: 20px;
    cursor: pointer;
}
.opening-aera{
    font-size: 19px;
    color: black;
    width: 250px;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}
.opening-font{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-left: 6px;
    
}
.soci{
    height: 500px;

}
.sci{
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bold;
}
.soco-img{
    height: 300px;
    max-width: 100%;

}
.insta{
    height: 200px;
    width: 200px;
    margin-left: 20px;
    cursor: pointer;
}
.insta:hover{
   transform: scale(1.05); 
}
.snp-footer{
    /* position: relative; */
    height: 500px;
    max-width: 100%;
}
.ftr{
    height: 500px;
    width: 100%;
    /* margin-top: -40px; */
    /* position: absolute;
    bottom: 45%; */

}
@media (max-width: 768px) {
    .franchice {
        padding: 32px 0px !important;
    }
    .brand{
            padding: 32px 15px 0px 15px !important;
        padding-bottom: 32px !important;
        margin-bottom: 0px !important;
        margin-top: 10px !important;
    }
}